footer {
  display: flex;
  justify-content: space-evenly;
  background-color: gray;
}

#footer-links {
  margin-top: 15px;
}

#footer-links a {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
}
